@import 'normalize.less';
@import 'variables-mixins.less';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	background: #fff;
	font-family: 'Lato', Helvetica, Arial;
	//font-size: 13px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.loading-message {
	background: @orange;
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	z-index: 99;
}

.tile-wrapper {
	text-align: center;
}

.tile {
	.transition(all .3s linear);
	padding: 15px;
}

/* tile-group is for containers that have more tiles */
.tile-group {
	.flex-display();

	.tile {
		flex: 1 100%;
		-webkit-flex: 1 100%;

		&:first-child {
			border-left: 0;
		}
	}
}

.nameHeadline {
	overflow: hidden;
	padding-bottom: 0;

	> * {
		opacity: 0.9;
	}
}

.logo {
	float: left;
}

.tagline {
	float: right;
}

// NOTE: disabled site since the select provides the same title
// .siteName {
// 	background: @blue;
// 	color: @black;

// 	h1 {
// 		margin: 0;
// 	}
// }

.select-river-wrapper {
	//background: @blue;
	//border-top: 1px solid @lightBlue;
	overflow-x: auto;
}

#selectRiver {
	background: #fff; // required to change size in webkit
	font-size: 28px;
	width: 100%;

	.strong {
		cursor: none;
		pointer-events: none;
	}
}

.conditions,
.flowRate,
.recentValueWrapper {
	//min-height: 25px;
	max-height: 200px;
}

.conditions {
	.scroll-indicator();

	text-align: left;
}

.flowRate {
	overflow-x: auto; // allow to scroll if text is long
	position: relative;
	text-align: center;

	h2 {
		color: @orange;
		font-size: 4em;
		margin: 0;
	}

	abbr {
		color: @lightOrange;
		font-size: 50%;
	}
}

.recentValueWrapper {
	.scroll-indicator();

	font-size: 85%;
	max-height: 180px;  // minus whitespace
	overflow-y: auto; // scroll
	text-align: center;
}

.recentValue {
	opacity: 0.7;
	padding: 5px 0;
	&:first-child {
		opacity: 1;
		font-weight: bold;
	}
	&:last-child {
		padding-bottom: 0;
	}
}

.name {
	padding: 0 3px 0 0;
}

.latestTime {
	color: #999;
	display: inline-block;
	font-size: 75%;
	padding: 1px 3px;
}

.mapLinkLatLong {
	font-size: 75%;
	padding: 7px 5px;

	a {
		display: inline-block;
		margin: 0 5px 0 0;
	}
}

#graph {
	height: auto;
	text-align: center;
	padding: 0;
	width: 100%;
}

.images {
	background: @black;
}

.image-wrapper {
	.flex-display();

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	font-size: 0;

	a {
		-webkit-flex: auto;
		flex: auto;
		//max-height: 155px;
		overflow: hidden;
	}

	// natural horizontal: 240 x 135
	img {
		.transition(all .3s ease-out);
		background-size: cover;
		width: 100%;
		//height: auto;

		&:hover {
			-webkit-filter: saturate(2);
			filter: saturate(2);
		}
	}

}

//---  LOADING STATE  ----

.loading {}

//------  Helpers & defaults ---------

abbr {
	font-size: 66%;
}

.hidden {
	display: none!important;
	visibility: hidden!important;
}

// modern clearfix
.group:after {
  content: "";
  display: table;
  clear: both;
}

//------  Media Queries ------

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	// wrap recent values to next line
	// show conditions and value beside each other
	.tile-group {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.conditions,
	.flowRate {
		//background: pink;
		//flex: 2 50% !important; // puts history under conditions & CFS
	}
	.recentValueWrapper {
		min-height: 20px;
		max-height: 160px;
		text-align: center;
	}

	#graph {
		image-rendering: auto; // pixelated graph is not very legible on mobile
	}

	// image gallery
	.image-wrapper {
		a {
			-webkit-flex: 0 1 50%; // keep 2 columns on mobile
			flex: 0 1 50%; // keep 2 columns on mobile
		}
		img {
			object-fit: cover;
		}
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 780px) {
	// wrap recent values to next line
	.tile-group {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.conditions,
	.flowRate {
		//background: pink;
		-webkit-flex: 2 50% !important;
		flex: 2 50% !important; // puts history under conditions & CFS
	}
}

// USGS graph is 576 x 400
// set image-rendering to pixelated for legibility
@media only screen
and (min-width : 576px) {
	#graph {
		image-rendering: pixelated;
	}
}
